body {
    color: yellow;
    background: url("images/jason-leung-Xaanw0s0pMk-unsplash.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;
}

h1 a {
    text-decoration: none;
    color: yellow;
}


table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

td {
    text-align: center;
}

.text-left {
    text-align: left;
}

.white-background {
    color: black;
    background-color: white;
    padding: 5px;
}

.container {
    width: 100%;
    height:100%
}

.main {
    display: flex;
    flex-flow: row wrap;
}

.main > * {
    padding: 20px;
}

aside {
    display: flex;
    flex-flow: column;
}

#details {
    padding: 20px;
}

@media only screen and (max-width: 799px) {
    .main > * {

    }
}

@media only screen and (min-width: 800px) {
    aside {

        flex-grow: 1
    }

    .calendar-container {

        flex-grow: 2
    }
}
