body {
   /* color: yellow;
    background: url("images/jason-leung-Xaanw0s0pMk-unsplash.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;*/
}

h1 a {
    text-decoration: none;
    color: black;
}


table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

td {
    text-align: center;
}

.text-left {
    text-align: left;
}

.container {
    width: 100%;
    height:100%
}

header {
    padding-left: 20px;
    padding-right: 20px;
}

.main {
    height: 90%;
    display: flex;
    flex-flow: row wrap;
}

.main > * {
    padding-left: 20px;
    padding-right: 20px;
}

.main > table {
    margin: 20px;
}

aside {
    display: flex;
    flex-flow: column;
}

#details {
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 799px) {
    aside {
        width: 100%;
        /*flex-grow: 1;*/
    }

    .calendar-container {
        width: 100%;
        /*flex-grow: 2;*/
    }
}

@media only screen and (min-width: 800px) {
    aside {
        width: 30%;
        /*flex-grow: 1;*/
    }

    .calendar-container {
        width: 60%;
        /*flex-grow: 2;*/
    }
}

.calendar {
    width: 98%;
    height: 90%;
    margin: 0px;
}

.calendar tr, .calendar td {
    border: 1px solid black;
    text-align: left;
}

.calendar td {
    width: calc(100% / 7);
}

.calendar tr th {
    padding: 5px 0px 0px 5px;
    margin: 0px;
}

.calendar tr:nth-child(-n+2) {
    padding: 5px;
    height: 30px;
}

.calendar td span {
    padding: 5px 0px 0px 5px;
}

.calendar > * {
    vertical-align: top;
}

.calendar ul {
    padding: 5px;
    list-style-type: none;
    margin: 0px;

}

.calendar ul li > * {
    margin: 0px;
}
