:root {
  --body-font-color: black;
  --nav-bg-color: #90CCF4;
  --nav-font-color: black;
  --body-bg-color: #FFFFFF;
  --tile-bg-color: #FFFFFF;
  --event-bg-color: #F3D250;
  --general-btn-bg-color: #5DA2D5;
  --heatmap-color: #F78888;
  --aside-bg-color: #ECECEC;

}

body {
    color: var(--body-font-color);
    margin: 0px;
    background-color: var(--body-bg-color);
    font-family: Arial, Helvetica, sans-serif;
   /* color: yellow;
    background: url("images/jason-leung-Xaanw0s0pMk-unsplash.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;*/
}

#navbar {
    background-color: var(--nav-bg-color);
}

header > h1 {
    padding: 5px 0px 5px 0px;
    margin: 0px 10px;
    /*color: #f6d51f;*/
    color: var(--nav-font-color);
    font-family: Tahoma, Geneva, sans-serif;
}

h1 a {
    text-decoration: none;
    color: var(--nav-font-color);
}

a {
    text-decoration: none;
    color: var(--body-font-color);
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: var(--tile-bg-color);
}

table, th, td {
    border: 1px solid var(--nav-bg-color);
}

td {
    text-align: center;
}

.text-left {
    text-align: left;
}

.container {
    width: 100%;
    height:100%;
    margin: 0px;
    display: flex;
    flex-direction: column;

}

header {
    padding-left: 20px;
    padding-right: 20px;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.main > * {
    padding-left: 20px;
    padding-right: 20px;
}

.main > table {
    margin: 20px;
}

aside {
    background-color: var(--aside-bg-color);
    display: flex;
    flex-flow: column;
}

aside ul {
    list-style-type: none;
}

aside a {
    color: var(--body-font-color);
}

#details {
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 799px) {
    aside {
        width: 100%;
        /*flex-grow: 1;*/
    }

    .calendar-container {
        width: 100%;
        /*flex-grow: 2;*/
    }
}

@media only screen and (min-width: 800px) {
    aside {
       /* width: 30%;*/
        /*flex-grow: 1;*/
    }

    .calendar-container {
        /*width: 60%;*/
        /*flex-grow: 2;*/
        flex-grow: 1;
    }
}

.calendar {
    width: 98%;
    height: 90%;
    margin: 0px;
}

.month-btn {
    background-color: var(--aside-bg-color);
    border: 1px solid var(--aside-bg-color);
    border-radius: 5px;
    margin: 5px;
}

.calendar tr, .calendar td {
    border: 1px solid var(--nav-bg-color);
    text-align: left;
}

.calendar td {
    width: calc(100% / 7);
}

.calendar tr th {
    padding: 5px 0px 0px 5px;
    margin: 0px;
}

.calendar tr:nth-child(-n+2) {
    padding: 5px;
    height: 30px;
}

.calendar td span {
    padding: 5px 0px 0px 5px;
}

.calendar > * {
    vertical-align: top;
}

.calendar ul {
    padding: 5px;
    list-style-type: none;
    margin: 0px;

}

.calendar ul li > * {
    margin: 0px;
}

.calendar li {
    text-align: center;
    border: 1px solid var(--event-bg-color);
    border-radius: 5px;
    background-color: var(--event-bg-color);
    margin: 2px 0px;
}
